{% extends "assets/template.twig" %}
{% block content %}

<style>
    .google-maps-btn,
    .waze-btn {
        width: 30px; /* Gomb szélessége */
        height: 30px; /* Gomb magassága */
        border-radius: 50%; /* Kerek gomb */
        display: inline-flex; /* Egymás mellé helyezés */
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .google-maps-btn i,
    .waze-btn i {
        font-size: 24px; /* Ikon mérete */
        color: #fff; /* Fehér ikon */
    }

    .google-maps-btn {
        background-color: #7AC142; /* Waze zöld */
            
    }

    .waze-btn {
        background-color: #4285F4; /* Google Maps kék */
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title">
                    {% if search|length > 0 %}
                        Helyek keresési eredménye <b>{{ search }}</b> kifejezésre. Archivált helyek nem jelennek meg.
                    {% elseif showArchived %}
                        Archivált helyek
                    {% else %}
                        Helyek
                    {% endif %}
                </h3>
                <div class="card-tools pull-right">
                    <form class="input-group input-group-sm" method="GET">
                        <div class="input-group-prepend">
                            {% if showArchived %}
                                <a href="?" type="button" class="btn btn-default">Aktív helyek megjelenítése</a>
                            {% else %}
                                <a href="?archive" type="button" class="btn btn-default">Archivált helyek megjelenítése</a>
                            {% endif %}
                        </div>
                        <input type="text" name="q" class="form-control" placeholder="Keresés" value="{{ search }}" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            {% if "LOCATIONS:CREATE"|instancePermissions %}
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModal"><i class="fa fa-plus"></i></button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 20%">
                            Név
                        </th>
                        <th>
                            Megjegyzések
                        </th>
                        <th style="width: 15%">
                            Cím
                        </th>
                        <th style="width: 15%">
                            Link
                        </th>
                        <th style="width: 15%">
                            Ügyfél
                        </th>
                        <th style="width: 20px">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for location in locations %}
                    <tr>
                        <td>
                            <a {% if "PROJECTS:VIEW"|instancePermissions %}href="{{ CONFIG.ROOTURL }}/project/list.php?location={{ location.locations_id }}"{% endif %}>{{ location.locations_name }}</a>
                        </td>
                        <td>
                            {{ location.locations_notes|nl2br }}
                        </td>
                        <td>
                            {{ location.locations_address|nl2br }}
                        </td>
                        <td>
                            {% if location.locations_address %}
                                <!-- Google Maps link -->
                                <a class="btn btn-default btn-sm google-maps-btn" href="https://www.google.com/maps/search/?api=1&query={{ location.locations_address|replace({ "\r\n": ', ', "\n": ', ', "\r": ', '})|url_encode }}" target="_blank" title="Google Maps">
                                    <i class="fas fa-map-marked-alt fa-lg"></i>
                                </a>
                                <!-- Waze link -->
                                <a class="btn btn-default btn-sm waze-btn" href="https://waze.com/ul?q={{ location.locations_address|replace({ "\r\n": ' ', "\n": ' ', "\r": ' '})|url_encode }}" target="_blank" title="Waze">
                                    <i class="fab fa-waze fa-lg"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            <a {% if "PROJECTS:VIEW"|instancePermissions %}href="{{ CONFIG.ROOTURL }}/project/list.php?client={{ location.clients_id }}"{% endif %}>
                                {{ location.clients_name }}
                            </a>
                        </td>
                        <td class="project-actions text-right">
                            <div class="btn-group">
                                {% if not(location.locations_archived) %}
                                {% if CONFIG.FILES_ENABLED == "Enabled" and USERDATA.instance.instances_storageEnabled == 1 and "LOCATIONS:LOCATION_FILE_ATTACHMENTS:VIEW"|instancePermissions %}
                                    <a href="{{ CONFIG.ROOTURL }}/location/?files&id={{ location.locations_id }}" type="button" class="btn btn-primary btn-sm">{{ (location.files|length > 0 ? location.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></a>
                                {% endif %}
                                {% if "LOCATIONS:LOCATION_BARCODES:VIEW"|instancePermissions %}
                                    <a href="{{ CONFIG.ROOTURL }}/location/barcode.php?location={{ location.locations_id }}" type="button" class="btn btn-default btn-sm"><i class="fas fa-barcode"></i></a>
                                {% endif %}
                                <a href="{{ CONFIG.ROOTURL }}/instances/calendar.php?location={{ location.locations_id }}" type="button" class="btn btn-secondary btn-sm"><i class="far fa-calendar-alt" style="display:inline;"></i></a>
                                {% endif %}
                                {% if "LOCATIONS:EDIT"|instancePermissions %}
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModal{{ location.locations_id }}"><i class="fas fa-edit"></i></button>
                                    {% if location.locations_archived %}
                                    <button type="button" class="btn btn-success btn-sm unarchiveButton" data-id="{{ location.locations_id }}"><i class="fas fa-archive"></i></button>
                                    {% else %}
                                    <button type="button" class="btn btn-warning btn-sm archiveButton" data-id="{{ location.locations_id }}"><i class="fas fa-archive"></i></button>
                                    {% endif %}
                                    <button type="button" class="btn btn-danger btn-sm deleteButton" data-id="{{ location.locations_id }}"><i class="fas fa-trash"></i></button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                        {% for subLocation in location.linkedToThis %}
                            <tr>
                                <td>
                                    {% for i in range(1, subLocation['tier']) %}
                                        {% if loop.last %}
                                            &#8627;
                                        {% else %}
                                            &nbsp;&nbsp;
                                        {% endif %}
                                    {% endfor %}
                                    &nbsp;
                                    <a {% if "PROJECTS:VIEW"|instancePermissions %}href="{{ CONFIG.ROOTURL }}/project/list.php?location={{ subLocation.locations_id }}"{% endif %}>{{ subLocation.locations_name }}</a>
                                </td>
                                <td>
                                    {{ subLocation.locations_notes|nl2br }}
                                </td>
                                <td>
                                    {% if subLocation.locations_address %}
                                        <a class="btn btn-default btn-sm" href="https://www.google.com/maps/search/?api=1&query={{ subLocation.locations_name ~ "," ~ subLocation.locations_address|replace({ "\r\n":', ', "\n":', ', "\r":', '})|url_encode }}" target="_blank" title="Google Maps">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </a>
                                    {% endif %}
                                    {{ subLocation.locations_address|nl2br }}
                                </td>
                                <td>
                                    <a {% if "PROJECTS:VIEW"|instancePermissions %}href="{{ CONFIG.ROOTURL }}/project/list.php?client={{ subLocation.clients_id }}"{% endif %}>
                                        {{ subLocation.clients_name }}
                                    </a>
                                </td>
                                <td class="project-actions text-right">
                                    <div class="btn-group">
                                        {% if CONFIG.FILES_ENABLED == "Enabled" and USERDATA.instance.instances_storageEnabled == 1 and "LOCATIONS:LOCATION_FILE_ATTACHMENTS:VIEW"|instancePermissions %}
                                            <a href="{{ CONFIG.ROOTURL }}/location/?files&id={{ subLocation.locations_id }}" type="button" class="btn btn-primary btn-sm">{{ (subLocation.files|length > 0 ? subLocation.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></a>
                                        {% endif %}
                                        {% if "LOCATIONS:LOCATION_BARCODES:VIEW"|instancePermissions %}
                                            <a href="{{ CONFIG.ROOTURL }}/location/barcode.php?location={{ subLocation.locations_id }}" type="button" class="btn btn-default btn-sm"><i class="fas fa-barcode"></i></a>
                                        {% endif %}
                                        <a href="{{ CONFIG.ROOTURL }}/instances/calendar.php?location={{ subLocation.locations_id }}" type="button" class="btn btn-secondary btn-sm"><i class="far fa-calendar-alt" style="display:inline;"></i></a>
                                        {% if "LOCATIONS:EDIT"|instancePermissions %}
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModal{{ subLocation.locations_id }}"><i class="fas fa-edit"></i></button>
                                            {% if showArchived != true %}
                                                {% if subLocation.locations_archived %}
                                                <button type="button" class="btn btn-success btn-sm unarchiveButton" data-id="{{ subLocation.locations_id }}"><i class="fas fa-archive"></i></button>
                                                {% else %}
                                                <button type="button" class="btn btn-warning btn-sm archiveButton" data-id="{{ subLocation.locations_id }}"><i class="fas fa-archive"></i></button>
                                                {% endif %}
                                            {% endif %}
                                            <button type="button" class="btn btn-danger btn-sm deleteButton" data-id="{{ subLocation.locations_id }}"><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if "LOCATIONS:CREATE"|instancePermissions %}
        {% embed 'assets/templates/modals/createLocation.twig' %}{% endembed %}
    {% endif %}
    {% if "LOCATIONS:EDIT"|instancePermissions %}
        {% for location in allLocations %}
        <div class="modal fade" id="editModal{{ location.locations_id }}">
            <div class="modal-dialog">
                <form class="editForm" data-id="{{ location.locations_id }}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Helyszín szerkesztése</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="locations_id" value="{{ location.locations_id }}"/>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Név</span>
                                </div>
                                <input required type="text" class="form-control" name="locations_name" value="{{ location.locations_name }}">
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Cím</span>
                                </div>
                                <textarea type="text" class="form-control" name="locations_address" rows="6">{{ location.locations_address }}</textarea>
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Megjegyzések</span>
                                </div>
                                <textarea type="text" class="form-control" name="locations_notes" rows="3">{{ location.locations_notes }}</textarea>
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ügyfél</span>
                                </div>
                                <select class="form-control" name="clients_id">
                                    <option></option>
                                    {% for client in clients %}
                                        <option value="{{ client.clients_id }}" {%  if location.clients_id == client.clients_id %}selected{% endif %}>{{ client.clients_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-group" style="margin-bottom: 5px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Alhelyszín</span>
                                </div>
                                <select class="form-control" name="locations_subOf">
                                    <option></option>
                                    {% for sublocation in allLocations %}
                                        {% if sublocation.locations_id != location.locations_id %}
                                            <option value="{{ sublocation.locations_id }}" {%  if location.locations_subOf == sublocation.locations_id %}selected{% endif %}>{{ sublocation.locations_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Bezárás</button>
                            <button type="submit" class="btn btn-primary saveEdit" data-id="{{ location.locations_id }}">Mentés</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <script>
        $(document).ready(function () {
            {% if "LOCATIONS:EDIT"|instancePermissions %}
            $(".editForm").submit(function (event) {
                var formData = $(".editForm[data-id=" + $(this).data("id") + "]").serializeArray();
                event.preventDefault();
                ajaxcall("locations/edit.php", {formData}, function (data) {
                    location.reload();
                });
            });
            $(".archiveButton").click(function () {
                var id = $(this).data("id");
                bootbox.confirm({
                    message: "Biztosan archíválni szeretnéd ezt a helyszínt?",
                    buttons: {
                        confirm: {
                            label: 'Igen',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Nem',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("locations/archive.php", {"locations_id": id}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            $(".unarchiveButton").click(function () {
                var id = $(this).data("id");
                bootbox.confirm({
                    message: "Biztosan vissza szeretnéd állítani ezt a helyszínt?",
                    buttons: {
                        confirm: {
                            label: 'Igen',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Nem',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            ajaxcall("locations/unarchive.php", {"locations_id": id}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
            {% if "LOCATIONS:LOCATION_FILE_ATTACHMENTS:VIEW"|instancePermissions %}
            $(".deleteButton").click(function () {
                var id = $(this).data("id");
                bootbox.confirm({
                    message: "Biztosan törölni szeretnéd ezt a helyszínt?",
                    buttons: {
                        confirm: {
                            label: 'Igen',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'Nem',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var formData = [{"name": "locations_id", "value":id },{"name": "locations_deleted", "value":"1" }];
                            ajaxcall("locations/edit.php", {formData}, function (data) {
                                location.reload();
                            });
                        }
                    }
                });
            });
            {% endif %}
        });
    </script>
</div>

{% endblock %}
