<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js" integrity="sha512-7BzHjLXs8xehClrkJEtJtAwXxcbLast87k+XekuItHxrMr/v6POWkoKS2/8CU6DHdIjY+A4NwvsBQ8PxoRH7xQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/vfs_fonts.min.js" integrity="sha512-P0bOMePRS378NwmPDVPU455C/TuxDS+8QwJozdc7PGgN8kLqR4ems0U/3DeJkmiE31749vYWHvBOtR+37qDCZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var docDefinition = {
            content: [
                {
                    columns: [
                        {
                            stack: [
                                {% if project.projectsTypes_config_client == 1 %}
                                    {
                                        text: "{{ project.clients_name|escape("js") }}",
                                        style: { bold: true}
                                    },
                                    {% if GET['addresses'] %}
                                        "{{ project.clients_address|escape("js") }}",
                                        " ",
                                        "{{ project.clients_website|escape("js") }}",
                                        "{{ project.clients_email|escape("js") }}",
                                        "{{ project.clients_phone|escape("js") }}"
                                    {% endif %}
                                {% endif %}
                            ],
                            width: "50%"
                        },
                        {
                            stack: [
                                {
                                    text: "{{ USERDATA['instance']['instances_name']|escape("js") }}",
                                    style: { bold: true}
                                },
                                {% if GET['addresses'] %}
                                    "{{ USERDATA.instance.instances_address|escape("js") }}",
                                    " ",
                                    "{{ USERDATA.instance.instances_website|escape("js") }}",
                                    "{{ USERDATA.instance.instances_phone|escape("js") }}",
                                    "{{ USERDATA.instance.instances_email|escape("js") }}",
                                {% endif %}
                            ],
                            style: { alignment: "right" },
                            width: "50%"
                        }
                    ],
                },
                " ",
                {% if GET['pmdetails'] %}
                    { text: "{{ project.users_name1|escape("js") ~ " " ~ project.users_name2|escape("js")  }}", style: { bold: true, alignment: "right" } },
                    {text: "{{ project.users_email|escape("js") }}", style: { alignment: "right" } },
                {% endif %}
                {% if fileNumber %}
                    {text: "v{{ fileNumber|escape("js") }}", style: { alignment: "right" } },
                {% endif %}
                " ",
                { text: "{{ project.projects_name|escape("js") }}", style: { bold: true, fontSize: 25 } },
                {% if GET['quote'] == 'true' %}
                    { text: "Árajánlat", style: { fontSize: 16 } },
                {% endif %}
                {% if GET['quote'] == 'truck' %}
                    { text: "Bepakolási lista", style: { fontSize: 16 } },
                {% endif %}
                {
                    table: {
                        widths: [ "60%", "40%"],
                        body: [[
                            {
                                table: {
                                    body: [
                                        ['Hivatkozás:',"{{project.projects_id|escape("js")}}"],
                                        {% if project.projects_dates_use_start and project.projects_dates_use_end %}
                                            ['Időtartam: ', 
                                                "{{project.projects_dates_use_start|date('Y. m. d.')}} - {{project.projects_dates_use_end|date('Y. m. d.')}}"],
                                        {% endif %}
                                        {% if GET['totalmass'] and project.projectsTypes_config_assets == 1 %}
                                            ['Tömeg becslés:', "{{ FINANCIALS.mass|mass|replace({'kg': ' kg'})|escape('js') }}"],
                                        {% endif %}
                                        {% if GET['totalvalue'] and project.projectsTypes_config_assets == 1 %}
                                            ['Értékbecslés:',"{{FINANCIALS.value|money|replace({',00':''})|escape('js') }}"],
                                        {% endif %}
                                    ],
                                },
                                layout: 'noBorders',
                                margin: 10
                            },
                            {% if GET['venue'] and project.projectsTypes_config_venue == 1 %}
                            {
                                stack: [
                                    { text: 'Helyszín', style: {bold: true}},
                                    "{{ project.locations_address|escape("js") }}"
                                ],
                                style: { alignment: "right" },
                                margin: 10
                            },
                            {% endif %}
                        ]],
                    },
                    fillColor: '#F5F5F5',
                    layout: 'noBorders',
                    margin: [ 0, 10, 0, 0 ]
                },
                {
                    table: {
                        widths: ["100%"],
                        body: [[
                            {
                                table: {
                                    body: [
                                        {% if project.projects_invoiceNotes|length > 0 and GET['invoiceNotes'] %}
                                            ["{{ project.projects_invoiceNotes|escape('js') }}"],
                                        {% endif %}
                                    ],
                                },
                                layout: 'noBorders',
                                margin: 10
                            },                            
                        ]],
                    },
                    fillColor: '#F5F5F5',
                    layout: 'noBorders',
                    margin: [ 0, 0, 0, 10 ]
                },
                {% if GET['finance'] and "PROJECTS:PROJECT_PAYMENTS:VIEW"|instancePermissions and project.projectsTypes_config_finance == 1 %}
                {
                    table: {
                        widths: [ "35%", "15%", "35%", "15%"],
                        body: [
                            [
                                { text: "Felszerelés részösszeg" },
                                { text: "{{ FINANCIALS.prices.subTotal|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                                { text: "Értékesítés" },
                                { text: "{{ FINANCIALS.payments.sales.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                            ],
                            [
                                { text: "Kedvezmények" },
                                { text: "-{{ FINANCIALS.prices.discounts|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                                { text: "Személyzet" },
                                { text: "{{ FINANCIALS.payments.staff.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                            ],
                            [
                                { text: "Felszerelés végösszeg", style: { bold: true } },
                                { text: "{{ FINANCIALS.prices.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                                { text: "Albérletek" },
                                { text: "{{ FINANCIALS.payments.subHire.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                            ],
                            {% if not GET['quote'] %}
                            [
                                { text: "Részösszeg" },
                                { text: "{{ FINANCIALS.payments.subTotal|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                                { text: "Eddig beérkezett fizetések" },
                                { text: "-{{ FINANCIALS.payments.received.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                            ],
                            {% endif %}
                            [
                                { text: "" },
                                { text: "", style: { alignment: 'right' } },
                                { text: "{% if GET['quote'] %}Összesen{% else %}Teljes hátralék{% endif %}", style: { bold: true } },
                                { text: "{{ FINANCIALS.payments.total|money|replace({',00':''})|escape('js') }}", style: { alignment: 'right' } },
                            ],
                        ],
                    },
                    layout: 'noBorders',
                },
                {% endif %}                
                {% if GET['assets'] and project.projectsTypes_config_assets == 1 %}
                    { text: "Felszerelések", style: { fontSize: 15, bold: true }, pageBreak: 'before' },
                    
                    {% set columnCount = 2 %}
                    {% if GET['checkboxes'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['comments'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['masses'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if project.projectsTypes_config_finance == 1 %}
                        {% if GET['prices'] %}{% set columnCount = columnCount + 2 %}{% endif %} // Each has 2 returns
                        {% if GET['discounts'] %}{% set columnCount = columnCount + 2 %}{% endif %} // Each has 2 returns
                    {% endif %}

                    {% if FINANCIALS.assetsAssigned|length > 0 %}
                        { 
                            {% set newColoumnFontSize = 10 %} 

                            table: {
                                headerRows: 1,
                                widths: [
                                    {% if GET['checkboxes'] %}'auto',{% endif %}
                                    '*', // Megnevezés
                                    'auto', // Darabszám
                                    {% if GET['masses'] %}'auto',{% endif %}
                                    {% if GET['comments'] %}'auto',{% endif %}
                                    {% if project.projectsTypes_config_finance == 1 %}
                                        {% if GET['prices'] %}
                                            'auto', // Listaár/db
                                            'auto', // Listaár összes
                                        {% endif %}
                                        {% if GET['discounts'] %}
                                            'auto', // Kedvezmény mértéke (%ban)
                                            'auto', // Kedvezményes listaár összes
                                        {% endif %}
                                    {% endif %}
                                ],
                                body: [
                                    [
                                        {% if GET['checkboxes'] %} 
                                            { text: 'OK', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } }, 
                                        {% endif %}
                                        { text: 'Eszköz', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        { text: 'Mennyiség', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        {% if GET['masses'] %}
                                        { text: 'Tömeg', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        {% endif %}
                                        {% if GET['comments'] %}
                                        { text: ' ', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        {% endif %}
                                        {% if project.projectsTypes_config_finance == 1 %}
                                            {% if GET['prices'] %}
                                            { text: 'Listaár', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                            { text: 'Ár', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                            {% endif %}
                                            {% if GET['discounts'] %}
                                            { text: 'Kedvezmény\n mértéke', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                            { text: 'Kedvezményes\n ár', style: {  bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                            {% endif %}
                                        {% endif %}
                                    ],
                                    {% set currentCategory = "" %}
                                    {% if GET['quote'] != 'truck' %}
                                        {% for type in FINANCIALS.assetsAssigned|filter(asset => asset['assets'][0].assetsAssignments_assignedAsSubAsset != 1) %}
                                            {% if type['assets'][0].assetCategoriesGroups_name != currentCategory %}
                                                {% set currentCategory = type['assets'][0].assetCategoriesGroups_name %}
                                                {% set currentCategoryID = type['assets'][0].assetCategoriesGroups_id %}
                                                [
                                                    {
                                                        text: "{{ type['assets'][0].assetCategoriesGroups_name|escape("js") }}",
                                                        style: { bold: true, fontSize: '{{ newColoumnFontSize }}'},
                                                        fillColor: '#F5F5F5',
                                                        colSpan: {{ columnCount }},
                                                        margin: 3
                                                    },
                                                    {% for i in range(2, columnCount) %}{},{% endfor %}
                                                ],
                                            {% endif %}
                                            {% embed 'project/twigIncludes/assetList/tableItemPDF.twig' with {"type": type,"all": FINANCIALS.assetsAssigned, "categoryid":currentCategoryID,"instanceid": USERDATA.instance.instances_id} %}{% endembed %}
                                        {% endfor %}
                                    {% else %}
                                        {% for type in FINANCIALS.assetsAssigned %}
                                            {% if type['assets'][0].assetCategories_name != currentCategory %}
                                                {% set currentCategory = type['assets'][0].assetCategories_name %}
                                                {% set currentCategoryID = type['assets'][0].assetCategories_id %}
                                                [
                                                    {
                                                        text: "{{ type['assets'][0].assetCategories_name|escape("js") }}",
                                                        style: { bold: true, fontSize: '{{ newColoumnFontSize }}' },
                                                        fillColor: '#F5F5F5',
                                                        colSpan: {{ columnCount }},
                                                        margin: 3
                                                    },
                                                    {% for i in range(2, columnCount) %}{},{% endfor %}
                                                ],
                                            {% endif %}
                                            {% embed 'project/twigIncludes/assetList/tableItemPDF.twig' with {"type": type,"all": FINANCIALS.assetsAssigned, "categoryid":currentCategoryID,"instanceid": USERDATA.instance.instances_id} %}{% endembed %}
                                        {% endfor %}
                                    {% endif %}
                                ]
                            },
                            layout: 'lightHorizontalLines',
                            margin: [ 0, 10, 0, 10 ]
                        },
                    {% endif %}                    
                {% endif %}
                {% if FINANCIALS.payments.subHire.ledger|length > 0 and project.projectsTypes_config_finance == 1 and GET['subHires']  %}
                    { text: "További bérleti elemek", style: { fontSize: 15, bold: true }, pageBreak: 'before' },
                    { 
                        table: {
                            widths: ['auto', '*'{% if GET['prices'] %},'auto','auto'{% endif %}],
                            body: [
                                {% set currentSupplier = "" %}
                                {% for payment in FINANCIALS.payments.subHire.ledger %}
                                {% if currentSupplier != payment.payments_supplier %}
                                    {% set currentSupplier = payment.payments_supplier %}
                                    [{ 
                                        text: "{{ payment.payments_supplier|escape("js") }}", 
                                        style: { bold: true },
                                        fillColor: '#F5F5F5',
                                        colSpan: {{ GET['prices'] ? 4 : 2 }},
                                        margin: 3
                                    },
                                    {% for i in range(2, (GET['prices'] ? 4 : 2)) %}{},{% endfor %}
                                    ],
                                {% endif %}
                                [
                                    "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ "x" : "" }}",
                                    "{{ payment.payments_comment|escape("js") }}",
                                    {% if GET['prices'] %}
                                        {
                                            text: "{{ payment.payments_amount|money|replace({',00':''})|escape('js') }}",
                                            style: {alignment: 'right'}
                                        },
                                        {
                                            text: "{{ payment.payments_amountTotal|money|replace({',00':''})|escape('js') }}",
                                            style: {alignment: 'right'}
                                        },
                                    {% endif %}
                                ],
                                {% endfor %}
                            ],
                        },
                        layout: 'noBorders',
                        margin: [ 0, 10, 0, 10 ]
                    },                    
                {% endif %}
                {% if FINANCIALS.payments.sales.ledger|length > 0 and project.projectsTypes_config_finance == 1 and GET['sales'] %}
                    { text: "Értékesítés", style: { fontSize: 15, bold: true }},
                    
                    {% set columnCount = 2 %}
                    {% if GET['checkboxes'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['prices'] %}{% set columnCount = columnCount + 2 %}{% endif %}

                    {
                        {% set newColoumnFontSize = 10 %} 
                        {% set newFontSize = 10 %} 
                        table: {
                            headerRows: 1,
                            widths: [
                                {% if GET['checkboxes'] %}'auto',{% endif %}
                                '*', // Megnevezés
                                'auto', // Darabszám
                                {% if GET['prices'] %}
                                    'auto', // Listaár/db
                                    'auto', // Listaár összes
                                {% endif %}
                            ],
                            body: [
                                [
                                    {% if GET['checkboxes'] %}' ',{% endif %}
                                    { text: 'Megnevezés', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    { text: 'Darabszám', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    {% if GET['prices'] %}
                                        { text: 'Listaár', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        { text: 'Ár', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    {% endif %}
                                ],
                                
                                {% for payment in FINANCIALS.payments.sales.ledger %}
                                    [
                                        {% if GET['checkboxes'] %}' ',{% endif %}
                                        { 
                                            text: "{{ payment.payments_comment|escape("js") }}",
                                            style: { fontSize: '{{ newFontSize }}' },
                                            margin: [0, 2],
                                        },
                                        { 
                                            text: "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ " db" : " 1 db" }}",
                                            style: { fontSize: '{{ newFontSize }}' },
                                            margin: [0, 2],
                                        },
                                        {% if GET['prices'] %}
                                            { 
                                                text: "{{ payment.payments_amount|money|replace({',00':''})|escape('js') }}", alignment: 'right',
                                                style: { fontSize: '{{ newFontSize }}' },
                                                margin: [0, 2],
                                            },
                                            { 
                                                text: "{{ payment.payments_amountTotal|money|replace({',00':''})|escape('js') }}", alignment: 'right',
                                                style: { fontSize: '{{ newFontSize }}' },
                                                margin: [0, 2],
                                            },
                                        {% endif %}
                                    ],
                                {% endfor %}
                            ]
                        },
                        layout: 'lightHorizontalLines',
                        margin: [ 0, 10, 0, 10 ]
                    },
                {% endif %}
                {% if project.projectsTypes_config_finance == 1 and FINANCIALS.payments.staff.ledger|length > 0 and GET['staff'] %}
                    { text: "Személyzet", style: { fontSize: 15, bold: true }},
    
                    {% set columnCount = 2 %}
                    {% if GET['checkboxes'] %}{% set columnCount = columnCount + 1 %}{% endif %}
                    {% if GET['prices'] %}{% set columnCount = columnCount + 2 %}{% endif %}                   
                    {
                        {% set newColoumnFontSize = 10 %} 
                        {% set newFontSize = 10 %} 
                        table: {
                            headerRows: 1,
                            widths: [
                                {% if GET['checkboxes'] %}'auto',{% endif %}
                                '*', // Megnevezés
                                'auto', // Darabszám
                                {% if GET['prices'] %}
                                    'auto', // Listaár/db
                                    'auto', // Listaár összes
                                {% endif %}
                            ],
                            body: [
                                [
                                    {% if GET['checkboxes'] %}' ',{% endif %}
                                    { text: 'Megnevezés', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    { text: 'Darabszám', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    {% if GET['prices'] %}
                                        { text: 'Listaár', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                        { text: 'Ár', style: { bold: true, fontSize: '{{ newColoumnFontSize }}' } },
                                    {% endif %}
                                ],
                                {% for payment in FINANCIALS.payments.staff.ledger %}
                                    [
                                        {% if GET['checkboxes'] %}' ',{% endif %}
                                        { 
                                            text: "{{ payment.payments_comment|escape("js") }}",
                                            style: { fontSize: '{{ newFontSize }}' },
                                            margin: [0, 2],
                                        },
                                        { 
                                            text: "{{ payment.payments_quantity > 1 ? payment.payments_quantity ~ " db" : " 1 db" }}",
                                            style: { fontSize: '{{ newFontSize }}' },
                                            margin: [0, 2],
                                        },
                                        {% if GET['prices'] %}
                                            { 
                                                text: "{{ payment.payments_amount|money|replace({',00':''})|escape('js') }}", alignment: 'right',
                                                style: { fontSize: '{{ newFontSize }}' },
                                                margin: [0, 2],
                                            },
                                            { 
                                                text: "{{ payment.payments_amountTotal|money|replace({',00':''})|escape('js') }}", alignment: 'right',
                                                style: { fontSize: '{{ newFontSize }}' },
                                                margin: [0, 2],
                                            },
                                        {% endif %}
                                    ],
                                {% endfor %}
                            ],
                        },
                        layout: 'lightHorizontalLines',
                        margin: [ 0, 10, 0, 10 ]
                    },
                {% endif %}
                {% if GET['paymentTerms'] %}
                    {% set quoteText = GET['quote'] ? USERDATA.instance.instances_quoteTerms|striptags|escape("js") : USERDATA.instance.instances_termsAndPayment|replace({"</p>":"\n", "<br/>":"\n"})|striptags|escape("js") %}
                        {
                            table: {
                                widths: ["100%"],
                                body: [
                                    [
                                        { text: "{{ quoteText }}",
                                        margin: 5 }
                                    ]
                                ]
                            },
                            fillColor: '#F5F5F5',
                            layout: 'noBorders',
                            margin: [0, 20, 0, 0]
                        },
                {% endif %}
                {% if GET['paymentTerms'] %}
                {
                    {% set newFontSize = 12 %} 
                    table: {
                        widths: ["100%"],
                        body: [
                            [
                                {
                                    text: "Tartalmazza az összeépítést, szétszerelést illetve a különböző rendszerek működtetését.",
                                    style: { fontSize: '{{ newFontSize }}' },
                                    margin: 5
                                }
                            ],
                            [
                                {
                                    text: "Tartalmazza a rendszerek teljeskörű működéséhez szükséges eszközpark és személyzet szállítását.",
                                    style: { fontSize: '{{ newFontSize }}' },
                                    margin: 5
                                }
                            ]
                        ]
                    },
                    fillColor: '#F5F5F5',
                    layout: 'noBorders',
                    margin: [0, 0, 0, 0]
                },
                {% endif %}
                {% if GET['paymentTerms'] %}
                {
                    "table": {
                        "widths": ["50%", "50%"],
                        "body": [
                            [
                                {
                                    text: "Dátum: {{ 'now' | date('Y. m. d.') | escape('js') }}", 
                                    alignment: "center",
                                    border: [false, false, false, false],
                                    margin: [0, 0, 0, 50]
                                },
                                { 
                                    text: "Az ajánlatot elfogadom",
                                    alignment: "center",
                                    border: [false, true, false, false],
                                    margin: [50, 0, 50, 0], // Left, Top, Right, Bottom
                                    borderWidth: 10
                                },
                            ]
                        ]
                    },
                    margin: [0, 60, 40, 0] // Left, Top, Right, Bottom
                },
                {% endif %}

            ],
            header: function(currentPage) { 
                return {
                    stack: [
                        {% if INSTANCELOGO %}
                        {
                            image: "{{ INSTANCELOGO|escape('js') }}",
                            width: 515,
                            alignment: 'center',
                            margin: [0, 0, 0, 0]

                        },
                        {% endif %}
                    ],
                    margin: [0, 20, 0, 0] // Left, Top, Right, Bottom
                };           
            },
            footer: function(currentPage, pageCount) { 
                return {
                    stack: [
                        // Line with margin below it
                        { 
                            canvas: [ 
                                { 
                                    type: 'line', 
                                    x1: 0, 
                                    y1: 0, 
                                    x2: 510, 
                                    y2: 0, 
                                    lineWidth: 1 
                                } 
                            ],
                            alignment: 'center',
                            margin: [0, 0, 0, 5] 
                        },
                        // Table with text and page count
                        {
                            table: {
                                widths: ['100%'],
                                body: [
                                    [
                                        { 
                                            text: "Tamás Dávid EV.\t\t   Cím: 9174 Dunaszeg, Iskola utca 7.\t\t   Telefon: +36 30 242 55 44 \n" +
                                                "Bankszámla szám: 11737007-20749635\t Adószám: 60721561-2-28\t Mail: info@tede.hu\n" + 
                                                currentPage.toString() + " / " + pageCount.toString(), 
                                            alignment: 'center' 
                                        }
                                    ],
                                ]
                            },
                            layout: 'noBorders'
                        }
                    ],
                    margin: [20, 20, 20, 20]  // Left, Top, Right, Bottom
                }; 
            },

            {% if GET['draft'] %}watermark: { text: 'MINTA', opacity: 0.2, bold: true, italics: false },{% endif %}
            pageSize: 'A4',
            pageOrientation: 'portrait',
            pageMargins: [ 40, 100, 40, 90 ],
            info: {
                title: "{% if project.projectsTypes_config_client == 1 and project['clients_name'] %}{{  project['clients_name']|escape("js") }} - {% endif %}{{ project['projects_name']|escape("js") }}",
                author: "{{ USERDATA['instance']['instances_name']|escape("js") }}",
                subject: "{{ project['projects_name']|escape("js") }}",
                keywords: 'TeDeRMS',
            },
            compress: true,
        };
        try {
            var pdf = pdfMake.createPdf(docDefinition);
            {% if GET['draft'] or CONFIG.FILES_ENABLED != "Enabled" or USERDATA.instance.instances_storageEnabled != 1 %}
                pdf.download("{{ project['projects_name']|escape("js") }} - Draft {{ GET['quote'] == 'true' ? 'Quote' : (GET['quote'] == 'truck' ? 'Truck' : 'Invoice') }}.pdf", function() {
                    setTimeout(() => {window.close()}, 100);
                });
            {% else %}
                pdf.getBlob((blob) => {
                    var formData = new FormData();
                    formData.append("file", blob, {type: "application/pdf"});
                    formData.append("quote", "{{ GET['quote'] }}");
                    formData.append("fileNumber", "{{ fileNumber|escape('js') }}");
                    formData.append("id", "{{ project['projects_id'] }}");

                    // Log all formData key-value pairs
                    for (var pair of formData.entries()) {
                        console.log(pair[0] + ": " + pair[1]);
                    }
                    var oReq = new XMLHttpRequest();
                    oReq.open("POST", "{{CONFIG.ROOTURL}}/api/s3files/uploadProjectInvoice.php", true);
                    oReq.onload = function (oEvent) {
                        var response = JSON.parse(oReq.responseText);
                        console.log(response);
                        if (response.error && response.error.code && response.error.code == "AUTH") {
                            location.reload();
                        } else if (response.error && response.error.code) {
                            alert(response.error.message);
                        } else if (response.result && response.response && response.response.url) {
                            pdf.download("{{ project['projects_name']|escape("js") }} - {{ GET['quote'] == 'true' ? 'Quote' : (GET['quote'] == 'truck' ? 'Truck' : 'Invoice') }} v{{ fileNumber|escape("js") }}.pdf", function() {
                                setTimeout(() => {window.close()}, 100);
                            });
                        } else {
                            alert("Error loading PDF");
                        }
                    };
                    oReq.onerror = function(error) {
                        alert("Error creating file");
                    };
                    oReq.send(formData);
                });
            {% endif %}
        } catch(err) {
            alert(err.message);
        }

    </script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js" integrity="sha256-EPrkNjGEmCWyazb3A/Epj+W7Qm2pB9vnfXw+X6LImPM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ CONFIG.ROOTURL }}/static-assets/libs/pace/pace.css">
    <!--Pace Loader-->
    <script>
        window.paceOptions = {
            startOnPageLoad: false,
            document: false,
            eventLag: false,
            ajax: false,
        };
        Pace.start();
    </script>
    Minnyá PDF, várjá...
</body>
</html>