{% extends "assets/template.twig" %}
{% block content %}
{% if NOCAPACITY %}
<div class="row">
    <div class="col-md-12 col-lg-6 offset-lg-3">
        <div class="card box-solid">
            <div class="card-header">
                <h3 class="card-title">Nem lehet projekteket létrehozni</h3>
            </div>
            <div class="card-body">
                <p>A jelenlegi csomagod nem teszi lehetővé új projektek létrehozását, mivel kimerítetted a kapacitásodat.</p>
                <a href="{{ CONFIG.ROOTURL }}/instances/billing.php" class="btn btn-default">Számlázási beállítások</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12 col-lg-6 offset-lg-3"> 
        <div class="card box-solid">
            <div class="card-header">
                <h3 class="card-title">Új projekt hozzáadása</h3>
            </div>
            <div class="card-body">
                <form id="addNewForm">
                    <div class="form-group">
                        <label>Projekt neve *</label>
                        <input type="text" class="form-control" id="projects_name" required />
                        <p class="invalid-feedback">A projekt neve kötelező</p>
                    </div>
                    <div class="form-group">
                        <label>Projekt leírása</label>
                        <textarea type="text" class="form-control" id="projects_description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Projekt vezető *</label>
                        <select class="form-control  select2bs4" id="manager" required>
                            {% for user in potentialProjectManagers %}
                                <option {{ user.users_userid == USERDATA.users_userid ? "selected" : "" }} value="{{ user.users_userid }}">{{ (user.users_name1 ~ " " ~ user.users_name2) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Projekt típusa *</label>
                        <select class="form-control  select2bs4" id="type" required>
                            {% for type in potentialProjectTypes %}
                                <option value="{{ type.projectsTypes_id }}">{{ type.projectsTypes_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Projekt dátumok</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-clock"></i></span>
                            </div>
                            <input type="text" class="form-control float-right" id="datePickerInput">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Szülő projekt</label>
                        <select class="form-control  select2bs4" id="parent" required aria-describedby="subprojectHelp">
                            <option value="-1">Nincs szülő</option>
                            {% for project in projects %}
                                <option value="{{ project.projects_id }}">{{ project.projects_name }}</option>
                            {% endfor %}
                        </select>
                        <small id="subprojectHelp" class="form-text text-muted">Ez egy alprojekt lesz a kiválasztott szülő projektben</small>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-default float-right" id="saveButton">Mentés</button>
            </div>
            <div class="overlay">
                <i class="fas fa-2x fa-sync-alt"></i>
            </div>
        </div>
    </div>
</div>
    <style>
        .input-group {
            margin-bottom: 5px;
        }
    </style>
    <script>
        let startDate = null;
        let endDate = null;

        $(document).ready(function () {
            $(".overlay").hide();
            $("#manager").select2({
                theme: "bootstrap4",
                width: '100%'
            });
            $("#type").select2({
                theme: "bootstrap4",
                width: '100%'
            });
            $("#parent").select2({
                theme: "bootstrap4",
                width: '100%'
            });
             $('#datePickerInput').daterangepicker({
                timePicker: true,
                timePickerIncrement: 15,
                timePicker24Hour: true,
                locale: {
                    format: 'YYYY. MM. DD. HH:mm',
                    applyLabel: 'Alkalmaz', 
                    cancelLabel: 'Mégsem',
                    customRangeLabel: 'Egyéni időszak',
                    daysOfWeek: ['V', 'H', 'K', 'Sze', 'Cs', 'P', 'Szo'],
                    monthNames: ['Január', 'Február', 'Március', 'Április', 'Május', 'Június', 'Július', 'Augusztus', 'Szeptember', 'Október', 'November', 'December'],
                    firstDay: 1
                },
                autoUpdateInput: false,
            });

            $('#datePickerInput').on('apply.daterangepicker', function(ev, picker) {
                startDate = picker.startDate.format('YYYY. MM. DD. HH:mm');
                endDate = picker.endDate.format('YYYY. MM. DD. HH:mm');

                $(this).val(startDate + ' - ' + endDate);
            });

            $('#saveButton').on('click', function(event) {

                if (!$('#projects_name').val()) {
                    event.preventDefault();
                    $('#projects_name').addClass('is-invalid')
                    return
                }

                const data = {
                    "projects_name": $('#projects_name').val(),
                    "projects_description": $('#projects_description').val(),
                    "projectsType_id": $('#type').val(),
                    "projects_manager": $('#manager').val(),
                }

                if (startDate) data['projects_dates_use_start'] = startDate
                if (endDate) data['projects_dates_use_end'] = endDate
                if ($('#parent').val() !== '-1')
                    data['projects_parent_project_id'] = $('#parent').val();

                ajaxcall("projects/new.php", data , function (data) {
                    window.location.href = "{{ CONFIG.ROOTURL }}/project/?id=" + data.response['projects_id'];
                });
            });
        });
    </script>
{% endif %}
{% endblock %}
