<meta charset="utf-8">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Áttekintés</h3>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <tr>
                        <td style="width: 35%;">
                            Felszerelés Összesen
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.prices.subTotal|money|replace({'.00':''}) }}
                        </td>
                        <td style="width: 35%;">
                            Értékesítés
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.payments.sales.total|money|replace({'.00':''}) }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">
                            {% if FINANCIALS.prices.discounts|moneyPositive %}Kedvezmények{% else %}Módosítások{% endif %}
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {% if FINANCIALS.prices.discounts|moneyPositive %}&#8209;{{ FINANCIALS.prices.discounts|money|replace({'.00':''}) }}{% else %}Nincs{% endif %}
                        </td>
                        <td style="width: 35%;">
                            Munkavállalók
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.payments.staff.total|money|replace({'.00':''}) }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">
                            <b>Felszerelés Összesen</b>
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.prices.total|money|replace({'.00':''}) }}
                        </td>
                        <td style="width: 35%;">
                            További bérlemények
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.payments.subHire.total|money|replace({'.00':''}) }}
                        </td>
                    </tr>
                    <tr style="background-color: rgba(0,0,0,.03);">
                        <td style="width: 35%;">
                            Összesen
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.payments.subTotal|money|replace({'.00':''}) }}
                        </td>
                        <td style="width: 35%;">
                            Kifizetések Eddig
                        </td>
                        <td style="width: 15%;text-align: right;">
                            &#8209;{{ FINANCIALS.payments.received.total|money|replace({'.00':''}) }}
                        </td>
                        <td style="width: 35%;">
                            Nyereség
                        </td>
                        <td style="width: 15%;text-align: right;"> 
                            {{ (FINANCIALS.payments.subTotal - FINANCIALS.payments.staff.total - FINANCIALS.payments.subHire.total)|money|replace({'.00':''}) }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 35%;">  
                        </td>
                        <td style="width: 15%;text-align: right;">  
                        </td>
                        <td style="width: 35%;">
                            <b>Összes Kintlévőség</b>
                        </td>
                        <td style="width: 15%;text-align: right;">
                            {{ FINANCIALS.payments.total|money|replace({'.00':''}) }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="card-footer">
                <div class="btn-group float-right">
                    {% if "PROJECTS:PROJECT_PAYMENTS:CREATE"|instancePermissions %}
                        <button type="button" class="btn btn-default newPayment" data-type="1">Kifizetés hozzáadása</button>
                        <button type="button" class="btn btn-default newPayment" data-type="2">Értékesítési tétel hozzáadása</button>
                        <button type="button" class="btn btn-default newPayment" data-type="3">További bérlemény hozzáadása</button>
                        <button type="button" class="btn btn-default newPayment" data-type="4">Munkavállalói költség hozzáadása</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Számla Megjegyzések</h3>
            </div>
            <div class="card-body">
                {% if project.projects_invoiceNotes|nl2br %}
                    {{ project.projects_invoiceNotes|nl2br }}
                {% else %}
                    <i>Nincs beállítva</i>
                {% endif %}
            </div>
            <div class="card-footer">
                <div class="btn-group float-right">
                    {% if "PROJECTS:EDIT:INVOICE_NOTES"|instancePermissions %}
                        <button type="button" class="btn btn-default editProjectInvoiceNotes" title="Szerkesztés">Számlamegjegyzések szerkesztése</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if FINANCIALS.payments.received.ledger %}
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kifizetések</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Hivatkozás</th>
                        <th>Dátum</th>
                        <th>Módszer</th>
                        <th>Megjegyzés</th>
                        <th>Összeg</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in FINANCIALS.payments.received.ledger %}
                        <tr>
                            <td>{{ payment.payments_reference }}</td>
                            <td>{{ payment.payments_date|date("d/M/Y G:i:s") }}</td>
                            <td>{{ payment.payments_method }}</td>
                            <td>{{ payment.payments_comment|nl2br }}</td>
                            <td>{{ payment.payments_amount|money|replace({'.00':''}) }}</td>
                            <td style="min-width:140px;">
                                {% if "PROJECTS:PROJECT_PAYMENTS:VIEW:FILE_ATTACHMENTS"|instancePermissions %}
                                    <button data-toggle="modal" data-target="#filesModal{{ payment.payments_id }}" type="button" class="btn btn-outline-secondary btn-sm">{{ (payment.files|length > 0 ? payment.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></button>
                                {% endif %}
                                {% if "PROJECTS:PROJECT_PAYMENTS:DELETE"|instancePermissions %}
                                    <button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
    {% if FINANCIALS.payments.sales.ledger %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Értékesítés</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mennyiség</th>
                            <th style="width: 100%;">Megjegyzés</th>
                            <th>Összeg</th>
                            <th>Összesen</th>
                            <th style="min-width:140px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set currentSupplier = "" %}
                        {% for payment in FINANCIALS.payments.sales.ledger %}
                            {% if currentSupplier != payment.payments_supplier %}
                                {% set currentSupplier = payment.payments_supplier %}
                                {% if payment.payments_supplier != "" %}
                                    <tr>
                                        <td colspan="99" style="background-color: #F5F5F5;"><b>{{ payment.payments_supplier }}</b></td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            <tr>
                                <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                <td>{{ payment.payments_comment|nl2br }}</td>
                                <td style="width:100px;">{{ payment.payments_amount|money|replace({'.00':''}) }}</td>
                                <td style="width:100px;text-align: right;">{{ payment.payments_amountTotal|money|replace({'.00':''}) }}</td>
                                <td>
                                    {% if "PROJECTS:PROJECT_PAYMENTS:VIEW:FILE_ATTACHMENTS"|instancePermissions %}
                                        <button data-toggle="modal" data-target="#filesModal{{ payment.payments_id }}" type="button" class="btn btn-outline-secondary btn-sm">{{ (payment.files|length > 0 ? payment.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></button>
                                    {% endif %}
                                    {% if "PROJECTS:PROJECT_PAYMENTS:DELETE"|instancePermissions %}
                                        <button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if FINANCIALS.payments.subHire.ledger %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">További bérlemények</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mennyiség</th>
                            <th style="width: 100%;">Megjegyzés</th>
                            <th>Összeg</th>
                            <th>Összesen</th>
                            <th style="min-width:140px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set currentSupplier = "" %}
                        {% for payment in FINANCIALS.payments.subHire.ledger %}
                            {% if currentSupplier != payment.payments_supplier %}
                                {% set currentSupplier = payment.payments_supplier %}
                                {% if payment.payments_supplier != "" %}
                                    <tr>
                                        <td colspan="99" style="background-color: #F5F5F5;"><b>{{ payment.payments_supplier }}</b></td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                            <tr>
                                <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                <td>{{ payment.payments_comment|nl2br }}</td>
                                <td style="width:100px;">{{ payment.payments_amount|money|replace({'.00':''}) }}</td>
                                <td style="width:100px;text-align: right;">{{ payment.payments_amountTotal|money|replace({'.00':''}) }}</td>
                                <td>
                                    {% if "PROJECTS:PROJECT_PAYMENTS:VIEW:FILE_ATTACHMENTS"|instancePermissions %}
                                        <button data-toggle="modal" data-target="#filesModal{{ payment.payments_id }}" type="button" class="btn btn-outline-secondary btn-sm">{{ (payment.files|length > 0 ? payment.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></button>
                                    {% endif %}
                                    {% if "PROJECTS:PROJECT_PAYMENTS:DELETE"|instancePermissions %}
                                        <button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
    {% if FINANCIALS.payments.staff.ledger %}
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Munkavállalók</h3>
                </div>
                <div class="card-body p-0">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mennyiség</th>
                            <th>Megnevezés</th>
                            <th style="width: 100%;">Megjegyzés</th>
                            <th>Összeg</th>
                            <th>Összesen</th>
                            <th style="min-width:140px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in FINANCIALS.payments.staff.ledger %}
                            <tr>
                                <td style="width: 10px;">{{ payment.payments_quantity }}x</td>
                                <td>{{ payment.payments_supplier|nbsp}}</td>
                                <td>{{ payment.payments_comment|nl2br }}</td>
                                <td style="width:100px;">{{ payment.payments_amount|money|replace({'.00':''}) }}</td>
                                <td style="width:100px;text-align: right;">{{ payment.payments_amountTotal|money|replace({'.00':''}) }}</td>
                                <td>
                                    {% if "PROJECTS:PROJECT_PAYMENTS:VIEW:FILE_ATTACHMENTS"|instancePermissions %}
                                        <button data-toggle="modal" data-target="#filesModal{{ payment.payments_id }}" type="button" class="btn btn-outline-secondary btn-sm">{{ (payment.files|length > 0 ? payment.files|length ~ '&nbsp;' : '')|raw }}<i class="fas fa-paperclip" style="display:inline;"></i></button>
                                    {% endif %}
                                    {% if "PROJECTS:PROJECT_PAYMENTS:DELETE"|instancePermissions %}
                                        <button title="Delete" class="btn btn-sm btn-danger deletePaymentButton" data-paymentid="{{ payment.payments_id }}"><i class="fa fa-trash"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
</div>