<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">Stáb</h3>
                    <div class="btn-group ml-auto">
                        {% if "PROJECTS:PROJECT_CREW:CREATE"|instancePermissions %}
                            <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#addCrewModal">Stáb hozzáadása</button>
                        {% endif %}
                        {% if "PROJECTS:PROJECT_CREW:VIEW:EMAIL_CREW"|instancePermissions and project.crewAssignments|length > 0 %}
                            <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#emailCrewModal">Stáb e-mail küldése</button>
                        {% endif %}
                    </div>
            </div>
            <div class="card-body p-0">
                <ul id="crewList" class="todo-list">
                    {% if project.crewAssignments|length > 0 %}
                        {% set totalCrew = project.crewAssignments|length %}
                        {% set confirmedCrew = 0 %}

                        {% for crew in project.crewAssignments %}
                            {% if crew.crewAssignments_response == 1 %}
                                {% set confirmedCrew = confirmedCrew + 1 %}
                            {% endif %}
                        {% endfor %}

                        {% set allConfirmed = totalCrew > 0 and confirmedCrew == totalCrew %}

                        {% if totalCrew > 0 %}
                            <div style="display: flex; align-items: center; gap: 10px; font-size: 1.2em; font-weight: bold;
                                color: {% if allConfirmed %}green{% else %}red{% endif %};
                                margin: 20px; justify-content: center; text-align: center;">
                                <i class="fas fa-{% if allConfirmed %}check-circle{% else %}times-circle{% endif %}"></i>
                                {% if allConfirmed %}
                                    Mindenki visszaigazolta a beosztását!
                                {% else %}
                                    Még nem mindenki igazolta vissza a beosztását!
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% for crew in project.crewAssignments %}
                        <li value="{{crew.crewAssignments_id}}"
                            style="display: flex; flex-wrap: wrap; align-items: center; gap: 5px;"
                            {% if crew.users_userid is null and crew.crewAssignments_personName is null %}
                            class="danger"
                            {% elseif crew.users_email|length < 1 %}
                            class="warning"
                            {% endif %}>
                            {% if "PROJECTS:PROJECT_CREW:EDIT:CREW_RANKS"|instancePermissions %}
                                <span class="handle">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                            {% endif %}
                                <span class="text">
                                    {{crew.crewAssignments_role}} -
                                    {% if crew.users_userid is null and crew.crewAssignments_personName is null %}
                                        <i>Szabad</i>
                                    {% elseif crew.users_name1 %}
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                            <a href="{{ CONFIG.ROOTURL }}/user.php?id={{ crew.users_userid }}">
                                        {% endif %}
                                        {{ crew.users_name1 ~ " " ~ crew.users_name2 }}
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                            </a>
                                        {% endif %}
                                        {% if crew.users_social_mobilephone %}
                                            - Telefonszám: 
                                            <a href="tel:{{ crew.users_social_mobilephone }}">{{ crew.users_social_mobilephone }}</a>
                                        {% endif %}
                                    {% else %}
                                        {{ crew.crewAssignments_personName }}
                                    {% endif %}
                                </span>
                            {% if crew.crewAssignments_comment|length > 0 %}
                                <i class="fas fa-info-circle" data-toggle="popover" title="{{crew.crewAssignments_role|escape('html_attr')}}" data-content="{{ crew.crewAssignments_comment|escape('html_attr') }}"></i>
                            {% endif %}
                            <div class="tools" style="display: flex; align-items: center; flex-wrap: wrap; gap: 7px;">
                                {% set response = crew.crewAssignments_response %}
                                {% if crew.users_userid == USERDATA.users_userid %}
                                    <!-- Elfogadás ikon -->
                                    <i class="fas fa-check-circle confirmCrewAssignment"
                                    data-assignment='{"assignmentId": "{{ crew.crewAssignments_id }}", "userId": "{{ USERDATA.users_userid }}", "projectId": "{{ crew.projects_id }}", "response": 1}'
                                    title="Visszaigazol"
                                    style="color: {% if response == 1 or response == NULL %}green{% else %}gray{% endif %}; font-size: 1.25em; cursor: pointer; margin-right: 7px;">
                                    </i>
                                    
                                    <!-- Elutasítás ikon -->
                                    <i class="fas fa-times-circle rejectCrewAssignment"
                                    data-assignment='{"assignmentId": "{{ crew.crewAssignments_id }}", "userId": "{{ USERDATA.users_userid }}", "projectId": "{{ crew.projects_id }}", "response": 2}'
                                    title="Elutasít"
                                    style="color: {% if response == 2 or response == NULL  %}red{% else %}gray{% endif %}; font-size: 1.25em; cursor: pointer; margin-right: 7px;">
                                    </i>
                                {% else %}
                                    <!-- Csak a státusz megjelenítése -->
                                    <i class="fas fa-check-circle"
                                    title="Elfogadva"
                                    style="color: {% if response == 1 %}green{% else %}gray{% endif %}; font-size: 1.25em; margin-right: 7px;">
                                    </i>
                                    <i class="fas fa-times-circle"
                                    title="Elutasítva"
                                    style="color: {% if response == 2 %}red{% else %}gray{% endif %}; font-size: 1.25em; margin-right: 7px;">
                                    </i>
                                {% endif %}
                                <!-- Státusz szöveges megjelenítése -->
                                <p style="font-size: 1em; font-weight: bold; margin-top: 10px; margin-right: 7px;
                                    {% if response == 1 %} color: green; 
                                    {% elseif response == 2 %} color: red; 
                                    {% else %} color: gray; {% endif %};
                                    display: flex; justify-content: center; align-items: center; height: 100%;">
                                    {% if response == 1 %}
                                        Visszaigazolva
                                    {% elseif response == 2 %}
                                        Elutasítva
                                    {% else %}
                                        Nincs visszajelzés
                                    {% endif %}
                                </p>
                                
                                <script>
                                $(document).ready(function () {
                                    // Function to handle crew assignment updates
                                    function updateCrewAssignment(assignmentData) {
                                        ajaxcall("projects/crew/response.php", {
                                            assignmentId: assignmentData.assignmentId,
                                            response: assignmentData.response,
                                            userId: assignmentData.userId,
                                            projectId: assignmentData.projectId
                                        }, function (data) {
                                            if (data.success) {
                                                location.reload();
                                            } else {
                                                location.reload();
                                            }
                                        });
                                    }

                                    // Elfogadás (zöld pipa)
                                    $(".confirmCrewAssignment").click(function () {
                                        let assignmentData = $(this).data("assignment");
                                        updateCrewAssignment(assignmentData);
                                    });

                                    // Elutasítás (piros pipa)
                                    $(".rejectCrewAssignment").click(function () {
                                        let assignmentData = $(this).data("assignment");
                                        updateCrewAssignment(assignmentData);
                                    });
                                });
                                </script>

                                {% if "PROJECTS:PROJECT_CREW:EDIT"|instancePermissions %}
                                    <!-- Szerkesztés ikon -->
                                    <i class="far fa-edit editCrewAssignment"
                                    data-assignment="{{ crew.crewAssignments_id }}"
                                    data-role="{{ crew.crewAssignments_role|escape('html_attr') }}"
                                    data-comment="{{ crew.crewAssignments_comment|escape('html_attr') }}"
                                    title="Szerkesztés"
                                    style="margin-right: 5px;"></i>

                                    <!-- Komment szerkesztése ikon -->
                                    <i class="far fa-comment editCrewAssignmentComment"
                                    data-assignment="{{ crew.crewAssignments_id }}"
                                    data-comment="{{ crew.crewAssignments_comment|escape('html_attr') }}"
                                    title="Komment szerkesztése"
                                    style="margin-right: 5px;"></i>

                                    <!-- Törlés ikon -->
                                    <i class="fas fa-trash deleteCrewAssignment"
                                    data-assignment="{{ crew.crewAssignments_id }}"
                                    title="Stáb törlése"
                                    style="margin-right: 5px;"></i>
                                {% endif %}
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        {#
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">Szabad Személyzet Pozíciók</h3>
                {% if "PROJECTS:PROJECT_CREW:EDIT:CREW_RECRUITMENT"|instancePermissions %}
                <a href="{{ CONFIG.ROOTURL }}/project/crew/vacantCrew.php?id={{ project.projects_id }}" type="button" class="btn btn-secondary btn-sm ml-auto">Kezelés</a>
                {% endif %}
            </div>
        </div>
        {% if crewRecruitment|length < 1 %}
            <div class="alert alert-info">
                <p class="my-auto">
                    <i class="fas fa-info-circle"></i> 
                    Jelenleg nincsenek szabad pozíciók ehhez a projekthez.
                </p>
            </div>
        {% endif %}
        #}
        {% for role in crewRecruitment %}
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ role.projectsVacantRoles_name }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5>Leírás</h5>
                            <p>{{ role.projectsVacantRoles_description }}</p>
                            <h5>Elvárások</h5>
                            <p>{{ role.projectsVacantRoles_personSpecification }}</p>
                            {% if role.projectsVacantRoles_deadline %}
                                <p>
                                    <strong>Határidő: </strong>
                                    {{ role.projectsVacantRoles_deadline|date("d M Y h:ia") }}
                                </p>
                            {% endif %}
                            <p>
                                <strong>Helyek száma: </strong>
                                {{ role.projectsVacantRoles_slots - role.projectsVacantRoles_slotsFilled }}
                            </p>
                            <div class="project-actions text-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}&from=project">
                                        További információk és
                                        {% if role.projectsVacantRoles_firstComeFirstServed %}
                                        Jelentkezés
                                        {% else %}
                                        Pályázat
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>